<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="main.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/modal.css"/>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

</head>

<body>

<div class="modal_overlay">
    <div style="position: absolute;">
        <div class="modal_close">
            <button id="modal_close">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF">
                    <path d="M0 0h24v24H0V0z" fill="none"/>
                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/>
                </svg>
            </button>
        </div>
        <div class="modal_window">

        </div>
    </div>
</div>

<div class="main_container">
    <nav>
        <div class="nav_container">
            <div>
                <h2>LOGO</h2>
            </div>
            <div class="nav_sub_container">
                <div>
                    <input placeholder="검색하기"/>
                </div>
                <div>
                    <button class="login_btn">로그인</button>
                </div>
            </div>
        </div>
    </nav>
    <div class="swiper first-swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide" style="background-color: #1DC078;"></div>
            <div class="swiper-slide" style="background-color: #cccccc;"></div>
            <div class="swiper-slide" style="background-color: #50aaff;"></div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    </div>


    <div class="popular_content_backgournd">
        <div class="popular_content_container">
            <div>
                <h2>최근 인기 글</h2>
            </div>
            <div class="content_box_wrap">
                <div class="content_box">
                    <div class="image_box"></div>
                    <div class="content_title">개발자 원어민 영어 회화 과외</div>
                    <div>
                        <p class="content_text">안녕하세요! 혹시 개발관련 영어회화 과
                            외에 관심 있는 사람있을까요? 전 개발자
                            로 일했고 한국어 보다 영어를 잘하는 ...</p>
                    </div>
                </div>
                <div class="content_box">
                    <div class="image_box"></div>
                    <div class="content_title">개발자 원어민 영어 회화 과외</div>
                    <div>
                        <p class="content_text">안녕하세요! 혹시 개발관련 영어회화 과
                            외에 관심 있는 사람있을까요? 전 개발자
                            로 일했고 한국어 보다 영어를 잘하는 ...</p>
                    </div>
                </div>
                <div class="content_box">
                    <div class="image_box"></div>
                    <div class="content_title">개발자 원어민 영어 회화 과외</div>
                    <div>
                        <p class="content_text">안녕하세요! 혹시 개발관련 영어회화 과
                            외에 관심 있는 사람있을까요? 전 개발자
                            로 일했고 한국어 보다 영어를 잘하는 ...</p>
                    </div>
                </div>
                <div class="content_box">
                    <div class="image_box"></div>
                    <div class="content_title">개발자 원어민 영어 회화 과외</div>
                    <div>
                        <p class="content_text">안녕하세요! 혹시 개발관련 영어회화 과
                            외에 관심 있는 사람있을까요? 전 개발자
                            로 일했고 한국어 보다 영어를 잘하는 ...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sub_content_background">
        <div class="sub_content_container">
            <div>
                <div>
                    <h2>최근 모집 글</h2>
                </div>
                <div class="recent_container">

                </div>
            </div>
            <div>
                <div>
                    <h2>오프라인 인기 장소</h2>
                </div>
                <div class="offline_popular_place_container">
                    <div class="swiper second-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="width: 100%; height: 100%;" th:each="place : ${places}">
                                <div class="place_image_box">
                                    <img th:src="${place.getImageUrl()}" src=""/>
                                </div>
                                <div class="place_info_box">
                                    <div>
                                        <p th:text="${place.name}">정보가 없습니다</p>
                                        <p>4.91/5</p>
                                    </div>
                                    <p th:text="${place.address}">정보가 없습니다</p>
                                </div>
                                <div class="line"></div>
                                <div class="review_box">
                                    <h2>Review</h2>
                                    <p>시설 좋구 사장님도 친절하셔요</p>
                                    <p>커피도 맛있고 쾌적하고 집중도 잘 되서 좋아요!</p>
                                    <p>벌써 1달이 지나고 2달째네요!! 집에서만 공부하...</p>
                                    <p>체고체고</p>
                                    <p>시설 좋구 사장님도 친절하셔요</p>
                                </div>
                            </div>
                        </div>
                        <!-- If we need scrollbar -->
                        <div class="swiper-scrollbar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>

    </footer>
</div>
<script>
    let firstSwiper = new Swiper('.first-swiper', {
        // Optional parameters
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        autoplay: {
            delay: 5000
        }
    });

    let secondSwiper = new Swiper('.second-swiper', {
        // Optional parameters
        loop: false,
        spaceBetween: 30,
        effect: 'fade',

        scrollbar: {
            el: '.swiper-scrollbar',
        },
        fadeEffect: {
            crossFade: true
        },
        autoplay: {
            delay: 3000
        }
    });

</script>
</body>

</html>